.container {
  height: 100%;
  background-color: #8D997A;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.logoText {
  position: absolute;
  bottom: 20px;
  left: 50px;
  font-size: 90px;
  color: #4B3717;
  z-index: 4;
  font-weight: 500;
  letter-spacing: 2px;
}

.formWrapper {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-left: 40%;
}

.title {
  font-family: sans-serif;
  font-size: 32px;
  color: #1E2A1C;
  margin-bottom: 54px;
  font-weight: 500;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGrid {
  display: grid;
  grid-template-columns: 378px 378px;
  row-gap: 24px;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 76px;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #1E2A1C;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:checked::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #1E2A1C;
  border-radius: 2px;
}

.checkboxLabel {
  font-size: 14px;
  color: #1E2A1C;
  max-width: 270px;
  line-height: 1.4;
  text-align: center;
}

.link {
  text-decoration: underline;
  color: inherit;
}

.btnWrapper {
  width: 250px;
  margin-bottom: 8px;
}

.loginText {
  font-size: 14px;
  color: #ffffff;
}

.loginLink {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
  color: #1E2A1C;
}

.error {
  color: #8c1e1e;
  margin-bottom: 20px;
  font-weight: 500;
}