.container {
  height: hv;
  background-color: #CABE93;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  display: flex;
  flex: 1;
  min-height: 0;
}

.innerContent {
  position: relative;
  z-index: 2;
  padding: 50px;
  overflow-y: auto;
  flex: 1;
  min-width: 0;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  color: #413A26;
  margin-bottom: 40px;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  gap: 24px;
}


.rimDecor {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  color: #1E1F1A;
  z-index: 1;
}


.rim1 {
  width: 300px;
  height: 300px;
  top: -50px;
  right: 10%;
}

.rim2 {
  width: 400px;
  height: 400px;
  bottom: -150px;
  right: -50px;
}

.rim3 {
  width: 250px;
  height: 250px;
  bottom: -80px;
  left: 20%;
}

.rim4 {
  width: 350px;
  height: 350px;
  top: 30%;
  left: -100px;
}

.rim5 {
  width: 242px;
  height: 242px;
  top: 36%;
  right: -160px;
}
.rim6 {
  width: 190px;
  height: 190px;
  top: 16%;
  left: 430px;
}
.rim7 {
  width: 170px;
  height: 170px;
  top: 28%;
  right: 600px;
}

.statusText {
  color: #413A26;
  font-size: 18px;
  margin-top: 20px;
}

.errorText {
  color: #8c1e1e;
  font-weight: 500;
  margin-top: 20px;
}