:root {
  --bg-header-footer: #617451;
  --bg-header-footer-log: #6F2E2D;
  --bg-header-footer-edit: #3A2522;
  --color-circle-auth: #928C59;
  --color-circle-log: #A58147;
  --color-circle-edit: #938981;
  --color-circle-personal: #CABE93;

  --input-btn-border-auth: #33362A;
  --input-btn-border-log: #6F2E2D;
  --input-text-auth: #33362A;
  --input-text-log: #6F2E2D;
  --btn-text-auth: #162E09;
  --btn-text-log: #693A2E;
}